# Ignorar dependencias locales
node_modules

# Ignorar logs y archivos de entorno
.env
.env*.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# Ignorar la carpeta de construcción de Next.js (se genera dentro del contenedor)
.next

# Ignorar configuraciones de editor y sistema operativo
.vscode
.idea
.DS_Store
*.suo
*.user
*.userosscache
*.sln.docstates

# Ignorar archivos de caché
.npm
.yarn/cache
.yarn/unplugged
.yarn/build-state.yml
.yarn/install-state.gz
