# Evita que estos archivos y carpetas se copien en la imagen de Docker

# Dependencias
node_modules

# Archivos de build y temporales
.next
npm-debug.log
.DS_Store

# Archivos locales de entorno
.env
.env.local

# Git
.git
.gitignore

# Documentación y configuración del editor
README.md
docs/
.vscode/
