# Git files
.git
.gitignore

# Node modules
node_modules

# Local environment variables
.env
.env.local

# Next.js build output
.next

# Vercel deployment configuration
.vercel

# READMEs and docs
README.md
docs/

# TypeScript configuration
tsconfig.json
